@model IEnumerable<MoreUsersApp.Models.Dog.DogListVM>

@{
    ViewData["Title"] = "Husky";
}

<h1>Husky</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BreedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BreedName)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Picture)" alt="Image" width="100" />
            </td>
           
        </tr>
}
    </tbody>
</table>
